#main-navbar{
	background-color:blue;
	overflow:hidden;
}

#navbar-container{
	float:left;
	width:100%;
	position:relative;
}

#main-navbar ul{
	
	list-style-type: none;
	padding:0;
	margin:0;
	position: relative
	left: 50%;
	float:left;
}

nav#main-navbar ul li{
	float:left;
	margin:0 20px;
}

nav#main-navbar ul li a{
	display:block;
	background-color:blue;
	color: #fff;
	text-decoration:none;
	text-align:center;
	width: 100px;
	padding: 10px 20px
}

